#btn_1005 {
  background-color: #172693;
  color: rgb(160, 103, 152);
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

#btn_1005:hover {
  background-color: #45a049;
}
